<section id="intro">
  <div class="container-lg mt-lg-5 mt-1">
    <div class="row g-4 justify-content-center align-items-center">
      <div class="col-md-10 text-center text-md-start">
        <h1>
          <div class="display-1">SAEID FATTAHI</div>
        </h1>
        <p class="lead mt-4 mb-2 text-muted">
          I am a technology enthusiast from Iran <i class="bi bi-house"></i> and
          currently enjoying life in beautiful Stockholm
          <i class="bi bi-heart"></i>. For years I was the
          <i>"Network guy"</i> doing network engineering and teaching system
          administration, virtualization and IaaS cloud. My
          <i>"Developer"</i> journey has just begun. <br />
          <br />
        </p>
        <p class="lead">
          Certificates: <br />
          <i class="bi bi-patch-check"></i> Microsoft Certified Professional -
          MCP

          <br />
          <i class="bi bi-patch-check"></i> Microsoft Certified Solutions
          Associate - MCSA
          <br />
          <i class="bi bi-patch-check"></i> Microsoft Certified Solutions Expert
          - MCSE
          <br />
          <i class="bi bi-patch-check"></i> Microsoft Certified Trainer - MCT
        </p>
      </div>
    </div>
  </div>
</section>
