<section id="pricing" class="">
  <div class="container-lg">
    <div class="text-center mt-2">
      <span class="training-title text-muted"> Training materials</span>
    </div>

    <div class="row mt-4 g-0 align-items-center justify-content-center">
      <div class="col-10 col-md-4 col-lg-4 col-xl-3">
        <div class="card border-1">
          <div class="card-body text-center py-1">
            <p class="course my-2">
              MCSA <br />
              2016
            </p>
            <p class="card-text text-muted">
              Exam: <br />
              70-740, 70-741, & 70-742
            </p>
            <a href="https://www.youtube.com" target="_blank" class="">
              <i class="bi bi-youtube youtube"></i>
            </a>
            <p><i class="bi bi-cone-striped"></i>Coming soon</p>
          </div>
        </div>
      </div>

      <div class="col-10 col-md-4 col-lg-4 col-xl-3">
        <div class="card border-1">
          <div class="card-body text-center py-1">
            <p class="course my-2">
              MCSE <br />
              2016
            </p>
            <p class="card-text text-muted">
              Exam: <br />
              70-350
            </p>
            <a href="https://www.youtube.com" target="_blank" class="">
              <i class="bi bi-youtube youtube"></i>
            </a>
            <p><i class="bi bi-cone-striped"></i>Coming soon</p>
          </div>
        </div>
      </div>

      <div class="col-10 col-md-4 col-lg-4 col-xl-3">
        <div class="card border-1">
          <div class="card-body text-center py-1">
            <p class="course my-2">CCNA <br />R&S</p>
            <p class="card-text text-muted">
              Exam: <br />
              200-301 CCNA
            </p>
            <a href="https://www.youtube.com" target="_blank" class="">
              <i class="bi bi-youtube youtube"></i>
            </a>
            <p><i class="bi bi-cone-striped"></i>Coming soon</p>
          </div>
        </div>
      </div>

      <div class="col-10 col-md-4 col-lg-4 col-xl-3">
        <div class="card border-1">
          <div class="card-body text-center py-1">
            <p class="course my-2">Frontend <br />Dev.</p>
            <p class="card-text text-muted">
              HTML/CSS/LESS <br />
              Angular
            </p>
            <a href="https://www.youtube.com" target="_blank" class="">
              <i class="bi bi-youtube youtube"></i>
            </a>
            <p><i class="bi bi-cone-striped"></i>Coming soon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
