<section id="intro">
  <div class="container-lg mt-lg-5 mt-1">
    <div class="row g-4 justify-content-center align-items-center">
      <div class="col-md-8 text-center text-md-start">
        <h1>
          <div class="display-1">SAEID FATTAHI</div>
          <div class="display-4 font-italic text-muted">Learn & Share</div>
        </h1>
        <p class="lead my-4 text-muted">
          Welcome to my space. Here I
          <span data-toggle="tooltip" data-placement="left" title="Share">
            <!-- native bootstrap icons -->
            <i class="bi bi-share"></i
          ></span>
          system administration and frontend training materials. enjoy!
        </p>
        <a
          href="https://www.linkedin.com/in/saeid-fattahi-36322b80/"
          class="btn btn-warning btn-lg"
          target="_blank"
          >follow me on <i class="bi bi-linkedin"></i
          ><!-- native bootstrap icons -->
        </a>
      </div>
      <div class="col-md-4 text-center d-none d-md-block">
        <span class="tt" data-bs-placement="bottom" title="Saeid Fattahi">
          <img
            src="../../assets/saeid-fattahi-profile-pic.png"
            class="img-fluid my-photo"
            alt="Saeid Fattahi"
          />
        </span>
      </div>
    </div>
  </div>
</section>
